# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# frameworks
.next
next-env.d.ts

# misc
.DS_Store

# debug
npm-debug.log*
pnpm-debug.log*

# env files
.env*
!.env.template

# temp files
.tmp
